In [3]:
import numpy as np
import pandas as pd
from sklearn import linear_model

#Load data
data =  pd.read_csv("https://raw.githubusercontent.com/johnmyleswhite/ML_for_Hackers/master/02-Exploration/data/01_heights_weights_genders.csv")
data.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [49]:
X = data[["Height","Weight"]]
y = data["Gender"]
clf =  linear_model.LogisticRegression(C=1e40, solver='newton-cg')
fitted_model =  clf.fit(X,y)
prediction_result = clf.predict([(70,180)])
prediction_result

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['Male'], dtype=object)